.header-secondary{
	position:fixed;
	background:black;
	height: 83px;
    width: 100%;
    z-index:9998;
    margin-top:-3px; //Moved to show-for-medium-up
}

.secondary-padding{
	padding-top:112px;
}

//Food Menu
.button-dropdown{
	border: 1px solid black;
	color:black;
	height:36px;
	border-radius:1px;
	font-family:$font-family-sans-serif;
	font-size:16px;
	padding:0 12px;
	background-color:transparent;
	display:block;
	margin:0 auto;
	line-height:34px;
	
		&:hover{
			background-color:$gray;
			color:black;
		}
		
		&:focus{
			background-color:$gray;
			outline: none;
			color:black;
		}
}

.f-dropdown{
	border:1px solid black;
	margin-top:-1px;
	width:intentionalbreak;
	
	
	li{
	    border-bottom: 1px solid black;
		
		&:last-of-type{
			border-bottom:none;
		}
		
		a{
			padding:9px 0 9px 14px;
			
			&:hover{
				background-color:$gray;
			}
		}
	}
}

button.dropdown {
	text-align: left;
	padding-left: 14px;
}

.dropdown.button::after, button.dropdown::after {
    border-color: black transparent transparent transparent;
	color:black;
}

#menu{
	padding:28px 0 84px 0;
	
	.pad-bot{
		padding:48px 0 0 0;
		clear:both;
	}

	h3{
		border-bottom: 1px solid black;
	}

	ul{
		list-style-type: none;
		margin:0;
		padding:0;

		li{
			
		}
	}
	
	.specials li{
		padding-bottom:22px;
		
		&:last-of-type{
			padding-bottom:0;
		}
	}
}

#menu.row{
		margin:0;
		max-width:none;
}

.special{
		text-align:center !important;
		padding-top:56px !important;
}

h4{
	font-family:$font-family-sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	letter-spacing:0.75px;
	font-weight:700;
	text-transform:uppercase;
}

.text-center{
	text-align:center;
}

h5{
	font-family:$font-family-sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	font-weight:300;
}

.description{
	font-size:16px;
	line-height:24px;
	font-weight:300;
	padding:0;
	margin:0;
}

.price{
	font-size:16px;
	font-weight:700;
	padding:0;
	margin:0;
}

//Mobile Phone
@media #{$small-only}{
	.mobile-padding{
		padding:0 16px;
	}
	
	.fsh{
		padding-bottom:16px;
	}
	
	.sausages{
		padding-bottom:16px;
	}
	
	.chicken{
		padding-bottom:16px;
	}
	
	.sides{
		padding-bottom:16px;
	}
	
	.slide-contact{
		
		p{
			padding:0;
			
			&:last-of-type{
				padding:16px 0 0 0;
			}
		}
	}
}