.header{
    height: 50px;
    width: 100%;
    position: fixed;
    //background-color:green;
    z-index:9999;
    background-color:transparent;
}





.test-fish{
	width:282px;
	height:47px;
	margin:14px auto 0 auto;
}

.no-padding{
	padding:0;
}

.cbp-spmenu-vertical a{
	border-bottom: 1px solid black !important;
	padding:20px 28px 8px 28px !important;
}

.cbp-spmenu{
	background:$gray !important;
	border-left: 1px solid black;
	-webkit-box-shadow: -11px 0px 26px -15px rgba(0,0,0,0.98);
	-moz-box-shadow: -11px 0px 26px -15px rgba(0,0,0,0.98);
	box-shadow: -11px 0px 26px -15px rgba(0,0,0,0.98);
	
	a{
    	color:black !important;
    	font-weight: 300;
		
		&:hover{
			background:#c2c2c2 !important;
		}
	}
}

.secondary-logo{
	width:100px;
	height:82px;
	margin-bottom:28px;
	margin-left:28px;
	margin-top:28px;
}

.slide-contact{
	position:absolute;
	padding-top:28px;
	//padding:28px 28px 0 0;
	bottom:28px;
	
	p{
	    margin:0;
	    padding:0 0 0 28px;
		font-size:13px;
		line-height:18px;
		
		&:first-of-type{
			padding-bottom:16px;
		}
		
		&:last-of-type{
		    margin:-8px;
		    padding:16px 0 0 28px;
		}
		
		a.text-link{
			padding:0 !important;
			margin:0 !important;
			border-bottom: none !important;
			
			&:hover{
				text-decoration:underline;
				background:transparent !important;
			}
		}
	}
}






//Slide Out Menu
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  display: block;
  width: 240px;
  height: 100%;
  color: #fff;
  background-color: #34bc9d;
  z-index: -100;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

.mobile-menu .mobile-menu-inner {
  width: 200px;
  padding: 20px 20px 60px
}

.mobile-menu ul {
  margin: 0 0 25px;
  padding: 0
}

.mobile-menu ul li {
  list-style: none;
  padding: 10px 0;
}



//General Link
a{
	background-color:transparent;
	color:transparent;
	
	&:hover{
		background-color:transparent;
		color:transparent;
	}
}

//General buttons
.button{
	height:36px;
	width:auto;
	border:1px solid white;
	border-radius:1px;
	font-family:$font-family-sans-serif;
	font-size:16px;
	padding:0 12px;
	text-align:center;
	background-color:transparent;
	
	&:hover{
		background-color:$gray;
	}
	
	&:focus{
		outline: none;
	}
}

.menu-dots{
	height:8px;
	width:27px;
}



//Party Form Modal
#partymodal{
	
	.float-none{
		float:none;
		display:block;
	}
	
	.column + .column:last-child, .columns + .columns:last-child {
	    float: left;
	}
	
	p{
		padding-bottom:28px;
	}

	form{
	
		input{
			height:36px;
			border:1px solid black;
			border-radius:1px;
			font-family:$font-family-sans-serif;
			font-size:16px;
			padding:0 12px;
			margin-top:7px;
			background-color:transparent;
			color:black;
		}
			
		input[type="date"]{
				color:black;
			}
	
		label{
			font-family:$font-family-sans-serif;
			font-size:14px;
			margin:0;
			padding:0;
			letter-spacing:0.75px;
			font-weight:700;
			text-transform:uppercase;
		}
	
		textarea{
			height:144px;
			border:1px solid black;
			border-radius:1px;
			font-family:$font-family-sans-serif;
			font-size:16px;
			padding:12px;
			margin-top:7px;
			background-color:transparent;
			color:black;
		}
	
		.space-between{
			padding-top:24px;
		}
	
		.button{
			background-color:black;
			border-color:black;
			display:block;
			margin:0 auto;
			line-height:34px;
		
			&:hover{
				background-color:transparent;
				color:black;
			}
		}
	}
}






//
.orbit-container{
	height:100%;
	
	@media #{$medium-only} and (orientation: portrait) { 
	    height:944px !important;
	}
}



//Slider Dots
.orbit-bullets-container{
	position:relative;
	display:none;
}

.orbit-bullets{
	bottom: -670px;
	top:inherit;
}

.orbit-bullets li{
	height:19px;
	width:19px;
	background:white;
	opacity:0.5;
	margin-right: 15px;
}

.orbit-bullets li.active{
	opacity:1;
	background:white;
}



//Navigation
.contain-to-grid .top-bar {
	margin: 0 auto;
	margin-bottom: 0;
	max-width:none;
	-webkit-box-shadow: -10px 12px 26px -15px rgba(0,0,0,0.76);
	-moz-box-shadow: -10px 12px 26px -15px rgba(0,0,0,0.76);
	box-shadow: -10px 12px 26px -15px rgba(0,0,0,0.76);
}

.topbar{
	background-color:inherit;
}

.sticky{
	background-color: black;
	padding: 5px 0;
}

nav{
	
	height:80px;
	
	h1{
		font-family:$font-family-sans-serif;
		font-size:px;
	}
	
	.button{
		color:white;
		border-color:white;
	}

	.top-bar .button{
		padding-top:6px;
	}

	#pad-right-menu-dots{
		padding-top:5px;
	}
	
	.left{
		position:relative;
		top:28px;
		left:12px;
	}
	
	.right{
		position:relative;
		top:28px;
		right:12px;
		
	}
	
	.logo-center{
		height:26px;
		width:400px;
	    display: block;
	    margin: 0 auto;
	}
	
	.logo{
		height:26px;
		width:400px;
		margin:0 auto;
	}
}



//Orbit Content Slider
.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#curtain{
	clear:both;
	
	h2{
		font-family:$font-family-sans-serif;
		font-size:100px;
		color:white;
		text-align:center;
		line-height:60px;
		padding:28px 0 0 0;
		margin:0;
		font-weight:900;
	    text-transform: uppercase;
	    letter-spacing: -1px;
	}
	
	h4{
		font-family:$font-family-sans-serif;
		font-size:24px;
		margin:0;
		padding:13% 0 0 0;
		letter-spacing:0.75px;
		font-weight:700;
		text-transform:uppercase;
		text-align: center;
		color: white;
	}
	
	p.subhead{
		font-family:$font-family-sans-serif;
		font-size:24px;
		color:white;
		text-align:center;
		line-height:28px;
		padding:0;
		margin:0;
		font-weight:300;
	}
	
	.hours{
		color:white;
		text-align:center;
		font-size:18px;
		font-family:$font-family-sans-serif;
		font-weight:700;
		padding: 24px 0;
		margin:0;
	}
}



//About Us
#about-us{
	padding:84px 0;
	height:auto;
	clear:both;
	
	h3{
		text-align:center;
		font-family:$font-family-sans-serif;
		font-size:39px;
		margin:0;
		padding-bottom:10px;
		font-weight:300;
	}
	
	p{
		text-align:left;
		margin:0;
		padding-bottom:24px;
	}
	
	.button{
		border:1px solid black;
		color:black;
		width:141px;
		margin:0 auto;
		display:block;
		line-height:34px;
		
		&:hover{
			background-color:$gray;
		}
	}
}



//Photo Wall
#photo-wall{
	height:300px;
	overflow:hidden;

	.row{
		margin:0;
		padding:0;
		max-width:none;
	}

	.image-1{
		background-image:url("../img/image-1.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		height:300px;
	}

	.image-2{
		background-image:url("../img/image-2.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		height:300px;
	}

	.image-3{
		background-image:url("../img/image-3.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		height:300px;
	}

	.image-4{
		background-image:url("../img/image-4.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		height:300px;
	}
}



//Video
.video{
	padding:84px 0;
	clear:both;
	overflow:auto;
	
	.flex-video{
		padding-top:0;
		margin-bottom:0;
		padding-bottom:28.5%;
	}
	
	.columns:last-child {
		float:left;
	}
}



//Contact Us
#contact-us{
	padding:84px 0;
	height:auto;
	background-color:$gray;
	clear:both;
	
	h3{
		text-align:center;
		font-family:$font-family-sans-serif;
		font-size:39px;
		margin:0;
		padding-bottom:28px;
		font-weight:300;
	}
	
	.row{
		max-width:none;
		
		.column + .column:last-child, .columns + .columns:last-child {
			float:left;
		}
	}
	
	form{
		
		input{
			height:36px;
			border:1px solid black;
			border-radius:1px;
			font-family:$font-family-sans-serif;
			font-size:16px;
			padding:0 12px;
			margin-top:7px;
			background-color:transparent;
			color:black;
		}
		
		label{
			font-family:$font-family-sans-serif;
			font-size:14px;
			margin:0;
			padding:0;
			letter-spacing:0.75px;
			font-weight:700;
			text-transform:uppercase;
		}
		
		textarea{
			height:144px;
			border:1px solid black;
			border-radius:1px;
			font-family:$font-family-sans-serif;
			font-size:16px;
			padding:12px;
			margin-top:7px;
			background-color:transparent;
			display:block;
		}
		
		.space-between{
			padding-top:7px;
			padding-bottom: 16px;
		}
		
		.button{
			background-color:black;
			border-color:black;
			display:block;
			margin:0 auto;
			line-height:34px;
			
			&:hover{
				background-color:transparent;
				color:black;
			}
		}
		
		input[type="submit"]{
			display:block;
			margin:0 auto;
		}
	}
}



//Footer
#footer{
	padding:56px 0;
	height:333px;
	background-color:black;
	
	.logo{
		width:342px;
		margin:0 auto;
		display:inherit;
		padding-bottom:24px;
	}
	
	p{
		color:white;
		text-align:center;
		margin:0;
		padding:0;
	}
	
	.pad-top{
		padding-top:28px;
	}
	
	.copyright{
		padding-bottom:8px;
	}

	.address{
		padding-bottom:8px;
	}
	
	a{
		color:white;
		
		&:hover{
			text-decoration:underline;
		}
	}
	
	.social{
		height:36px;
		width:36px;
		opacity: 0.75;
		
		&:hover{
			opacity:1;
			transition:opacity 350ms ease-in-out;
		}
	}
	
	.middle{
		margin:0 14px;
	}
}



//Mobile Phone
@media #{$small-only}{
	
	.cbp-spmenu-vertical a{
		padding:20px 0 8px 0 !important;
	}
	
	.cbp-spmenu{
		padding:0 16px;
	}
	
	.orbit-container{
		height:516px;
	}
	
	.slide-contact p:last-of-type{
		padding:16px 0 0 7px;
	}
	
	nav{
		
		.logo{
			height:15px;
			width:230px;
			padding-left:16px;
		}
	}
	
	.top-bar .button{
		margin-top:6px;
		line-height:22px;
	}
	
	
	
	//Party Modal
	#partymodal p {
	    padding-bottom: 16px;
	}
	
	
	
	//Photo Wall
	.photo-wall-mobile{
		height:350px;
		background:red;
		overflow:visible;
		display:block;
	}
	
	
	
	//Curtain
	#curtain{
	
		h2{
			font-size:34px;
			line-height:30px;
			padding:35% 0 0 0;
		}
	
		p.subhead{
			font-size:16px;
			text-align:center;
			line-height:20px;
		}
	
		.hours{
			font-size:14px;
			padding: 16px 0;
		}
	}
	
	
	
	
	//About Us
	#about-us{
		padding:48px 0 96px 0;
		height: auto;
	
		h3{
			font-size:22px;
			padding-bottom:10px;
			padding-left:16px;
		}
	
		p{
			font-size:16px;
			padding-bottom:16px;
			text-align:center;
		}
	
		.button{
			line-height:34px;
		}
	}
	
	
	
	//Slider Container Height
	.slider-height-fix{
		height:320px;
	}
	
	
	
	//Contact Us
	#contact-us{
		padding:32px 0;
		height:auto;
	
		h3{
			font-size:22px;
			padding-bottom:16px;
			padding-left:16px;
		}
	
		form{
		
			input{
				padding:0 12px;
				margin-top:7px;
			}
		
			label{
				font-size:14px;
			}
		
			textarea{
				height:144px;
				border:1px solid black;
				border-radius:1px;
				font-family:$font-family-sans-serif;
				font-size:16px;
				padding:12px;
				margin-top:7px;
				background-color:transparent;
			}
		
			.space-between{
				padding-top:24px;
			}
		
			.button{
				background-color:black;
				border-color:black;
				display:block;
				margin:0 auto;
				line-height:34px;
			
				&:hover{
					background-color:transparent;
					color:black;
				}
			}
		}
	}
	
	
	
	//
	.video{
		padding:96px 0 0 0;
		
		.flex-video{
			padding-top:0;
			margin-bottom:0;
			padding-bottom:28.5%;
			height:400px;
		}
		
		h3{
			text-align:center;
		}
	
		p{
			padding-bottom:16px;
			text-align:center;
		}
	}
}



@media #{$medium-only}{
	nav{
		
		.logo{
			height:21px;
			width:325px;
			padding-left:16px;
		}
		
		.logo-center {
		    height: 21px;
		    width: 325px;
		}
	}
	
	.orbit-container {
		height:713px;
	}
	
	
	
	//Curtain
	#curtain{
		
		h2 {
			font-size: 70px;
			padding: 16px 0 0 0;
		}
			
		h4{
			padding: 34% 0 0 0;
		}
		
		.hours{
			padding:16px 0;
		}
		
		.test-fish{
			margin: 18px auto 0 auto;
		}
	}
	
	
	
	//Video
	.video{
		padding:84px 0 0 0;
		clear:both;
		overflow:auto;
	
		.flex-video{
			padding-top:0;
			margin-bottom:0;
			padding-bottom:28.5%;
			height:400px;
		}
		
		h3{
			text-align:center;
		}
		
		p{
			padding-bottom:32px;
			text-align:center;
		}
	}
}


//Landscape iPad
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){
	h4{
		padding: 16% 0 0 0 !important;
	}
}

